{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="old_password" placeholder="old password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="new_password" placeholder="new password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="new password again" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
